#gameCanvas{
    background: #eee;
    position: absolute;
}
.gameArea{
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start{
    position: relative;
    top: 30%
}
#upgradePanel{
    display: none;
}
#warningLabel{
    color: red;
}